@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
}

:root{
    --background-color: #ffffff;
    --text-color: #000000;
}
.dark-theme{
    --background-color: #000033;
    --text-color: #ffffff;
}
body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    height: 100vh;
    flex-wrap: wrap;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 1.2s, color 1.2s;
}
.clock{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-color: var(--background-color);
    box-shadow: 0px 0px 20px var(--text-color);
    font-size: 1.3rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.clock ul li{
    list-style: none;
    position: absolute;
    text-align: center;
    transform: rotate(calc(30deg * var(--i)));
    inset: 5px;
}
.clock ul li span{
    transform: rotate(calc(-30deg * var(--i)));
    display: inline-block;
}
.clock:after{
    content: '';
    height: 10px;
    width: 10px;
    background-color: var(--text-color);
    border-radius: 50%;
    position: absolute;
}
.needle{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.needle span{
    width: 5px;
    height: var(--h);
    background-color: var(--text-color);
    position: absolute;
    border-radius: 5px;
}

#clock{
    height: 50px;
    width: 150px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px var(--text-color);
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content:center ;
}

.theme{
    position: relative;
}
.toggle-btn{
    background: #4863ff;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    cursor: pointer;
}
.toggle-btn img{
    width: 20px;
    margin-left: 10px;
}